---
layout: page
title: jpylyzer
---
{% include JB/setup %}

<div class="newsbar">
<h2>Latest news</h2>

<ul>
{% for post in paginator.posts %}
   <!-- <div class="post-entry"> -->
   <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a> <small>({{ post.date | date_to_string }})</small>
   </li>
   <!-- </div> -->
{% endfor %}
</ul>
<!-- Pagination links -->

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: BASE_PATH | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: BASE_PATH | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: BASE_PATH | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: BASE_PATH | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
  <span><a href="{{ BASE_PATH }}/archive.html">Archive</a></span>
</div>
{% endif %}

</div>

<h2>What is jpylyzer?</h2>
<p><em>Jpylyzer</em> is a validator and feature extractor for <em>JP2</em> images. <em>JP2</em> is the still image format that is defined by <a href="http://www.jpeg.org/public/15444-1annexi.pdf">Part 1</a> of the <a href="http://www.jpeg.org/jpeg2000/">JPEG 2000</a> image compression standard (ISO/IEC 15444-1).</p>
<p><em>Jpylyzer</em> tells you if a <em>JP2</em> image really conforms to the format&#8217;s specifications (validation). It also reports the image&#8217;s technical characteristics (feature extraction).</p>
<h2>Getting started</h2>
<p>To get started with <em>jpylyzer</em>, check out the following links:</p>
<ul>
<li>
<p><a href="{{ BASE_PATH }}/installation.html">Installation instructions</a></p>
</li>
<li>
<p><a href="{{ BASE_PATH }}/usage.html">Using jpylyzer</a></p>
</li>
</ul>
<h2>License</h2>
<p><em>Jpylyzer</em> is free software: you can redistribute it and/or modify
it under the terms of the <a href="https://www.gnu.org/licenses/lgpl.html">GNU Lesser General Public License</a> as published by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.</p>
<h2>Funding</h2>
<p>The development of jpylyzer was partially funded by the EU FP 7 project <a href="http://www.scape-project.eu/"><em>SCAPE</em> (SCAlabable Preservation Environments)</a>.</p>

