Source: jpylyzer
Section: utils 
Priority: extra
Maintainer: Rui Castro <scape@openplanetsfoundation.org>
Build-Depends: debhelper (>= 7), perl
Standards-Version: 3.8.3
Homepage: https://github.com/openplanets/jpylyzer

Package: jpylyzer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Jpylyzer is a JP2 (JPEG 2000 Part 1) validator and properties extractor. 
