---
---

#container {
    /*width:1200px;
    margin:20px auto;*/
}

#header {
    margin-bottom: 20px;
    background-color: #f0f0f0 ;
    padding-top: 20px;
    padding-bottom: 20px;
    float:center;
}


#content {
    float:left;
    width:65%;
    max-width: 900px;
    min-width: 700px;
    padding-right: 20px;
    /*min-width: 740px;
    max-width: 740px;*/
}

#footer {
  clear:both;
}

#sidebarLeft {
    float:left;
    width:15%;
    min-width: 100px;
}

#sidebarRight {
    float:left;
    width:20%;
    min-width: 100px;
}

#footerLeft {
    float:left;
    width:15%;
    min-width: 100px;
    min-height: 1px;
}

#footerContent {
  float:left;
  width:65%;
  max-width: 900px;
  min-width: 700px;
  font-size: 20px;
}

#footerRight {
  float:left;
  width:20%;
  min-width: 100px;
}
 
.container-narrow > hr {
  margin: 30px 0; }

.banner-header{
   position: relative;
   left: 20%;
   margin-top: 10px;
   margin-bottom: 10px;
  }
  
.banner-tagline{
  font-size:48px;
  letter-spacing:2px;
  *\text-align:center;\*
  line-height:60px;
  color:#708090;
  margin-top: 10px;
  margin-bottom: 0px;
  }

.pagination{
  text-align:left;
  font-size:22px;
  font-weight:bold;
  }
  
.post-entry{padding-bottom:32px;}

.newsbar{
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid #ccc;
  /*
  background-color: #f0f0f0;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 15px;
  */
  }
  
.newsbar h2{
  line-height:32px; 
  margin:10px 0 20px 0; 
  border-bottom: 2px solid #ccc;
  text-align:left;
  }
  
.sidebar{
  background-color: #f0f0f0;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 15px;
  }
  
.sidebar h1{
  text-align:left;
  }
  
.sidebar h2{
  line-height:32px; 
  margin:10px 0 20px 0; 
  border-bottom: 2px solid #ccc;
  text-align:left;
  }

.sidebar h3{
  line-height:28px; 
  margin:10px 0 30px 0;
  color:#708090;
  text-align:left;
  }  

.sidebar p{
  font-size:22px;
  line-height:28px;
  }  

.sidebar small{
  color:#708090;;
}

.sidebar figure figcaption{
    text-align: center;
    font-style:normal;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
    }
    
.sidebarLeft{
  margin-top: 0px;
  padding: 15px;
  }  

.sidebarLeft h2{
  line-height:32px; 
  margin:10px 0 20px 0; 
  border-bottom: 2px solid #ccc;
  text-align:center;
  }

.img-header{
  display: block;
  margin-left: 0px;
  padding-bottom: 30px;
  margin-right: auto;
 }

.newsitems ul li{
    list-style-type: none;
    text-indent: -20px;
}

body{
    font-size: 22px;
    line-height: 28px;
  }

body p {
    margin-bottom: 20px;
}


ul li {
    padding-top: 10px;
    margin-bottom: 20px;
    line-height: 28px;
}

ol li {
    padding-top: 10px;
    margin-bottom: 20px;
    line-height: 28px;
}

dl {
  display: grid;
  grid-template-columns: 25% auto;
}

dt {
  grid-column: 1;
  padding-top: 10px;
  margin-bottom: 20px;
  line-height: 28px;
  font-weight:normal;
  font-style: italic;
}

dt::after {
  content: ":";
}

dd {
  grid-column: 2;
  padding-top: 10px;
  margin-bottom: 20px;
  line-height: 28px;
}

pre {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 28px;
}

blockquote p{
  margin-bottom:0; font-style:italic; font-weight:300}

.content h1{
    padding-top: 20px;
    padding-bottom:20px;
}

.content h2{
    padding-top: 20px;
    padding-bottom:20px;
}

.content h3{
    padding-top: 20px;
    padding-bottom:20px;
}

.content h4{
    padding-top: 20px;
    padding-bottom:20px;
}

h1{font-size:32px;}
h2{font-size:28px;}
h3{font-size:26px;}
h4{font-size:24px;}  
  
figure{
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-left:15px;
  padding-right:15px;
  margin-top:30px;
  margin-bottom:30px;
  }

figure figcaption{
    font-style:italic;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;}

table{
  font-size:22px;line-height:28px;
  border-collapse:collapse;
  margin-top: 30px;
  margin-bottom: 30px;
  }

td, th{
 padding:15px;
 border: 1px solid black; }
 
.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
