/* Custom container */
.container-narrow {
  margin: auto auto auto 150px;
  max-width: 600px; 
  }
  
.container-narrow > hr {
  margin: 30px 0; }

.top-area{
  background-color: #f0f0f0 ;
  margin-bottom: 20px;
}

.banner-header{
   margin-top: 10px;
   margin-bottom: 10px;
  }
  
.banner-tagline{
  font-size:26px;
  font-style:bold;
  letter-spacing:4px;
  line-height:30px;
  text-align:left;
  color:#708090;
  margin-top: 0px;
  margin-bottom: 0px;
  }

.post-entry{padding-bottom:25px;}
  
.sidebar{
  background-color: #f0f0f0;
  margin-top: 0px;
  padding: 15px;
  }
  
.sidebar h1{
  /* letter-spacing:3px; */
  font-size:24px;
  /* color:#708090; */
  }
  
.sidebar h2{
  font-size:20px;
  }

.sidebar h3{
  font-size:18px;
  }  

.sidebar p{
  font-size:14px;
  }  

.sidebarLeft{
  margin-top: 0px;
  padding: 15px;
  }  
  
body{
  font-size:16px;
  line-height:22px;
  }
  
blockquote p{
  margin-bottom:0; font-size:16px; font-style:italic; font-weight:300 ;line-height:22px; }
  
h1{font-size:28px; line-height:30px;margin: 10px 0 10px 0;}
h2{font-size:20px; line-height:22px; margin:10px 0 10px 0;}
h3{font-size:18px; line-height:20px; margin:10px 0 10px 0;}

table{
  font-size:14px;line-height:16px;
  border-collapse:collapse;
  /*margin:0 0 20px;*/ }

td, th{
 padding:15px;
 border: 1px solid black; }
 
.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }