<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
    
  <!-- Place banner image aligned with column layout --> 
  <div class="top-area">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
	  </div>
      <div class="span10">
	    <!-- Column center (banner goes here) -->
        <div class="banner-header">
		  <a href="{{ BASE_PATH }}"><img src="{{ BASE_PATH }}/images/logo_601x193.png" alt="jpylyzer"  width="601" height="193"></a>
		  <div class="banner-tagline">{{ site.tagline }}</div>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  <div class="container-fluid">
	<div class="row-fluid">
	  <div class="span2">
	    <div class="sidebarLeft">
        <p><a href="{{ site.kbURL}}"><img src="{{ BASE_PATH }}/images/logo-KB.png" alt="KB"  width="150" height="162"></a></p>
        <br>
        <p><a href="{{ site.opfURL}}"><img src="{{ BASE_PATH }}/images/opf-text-160x92.png" alt="OPF"  width="160" height="92"></a></p>
        <br><br>
      </div>

      <div class="sidebarLeft">
        <figure>
          <a href="{{ BASE_PATH }}/rss.xml"><img src="{{ BASE_PATH }}/images/feed-icon-32.png" alt="RSS" width="32" height="32"></a>
          <figcaption>
            <a href="{{ BASE_PATH }}/rss.xml">RSS</a>
          </figcaption>
        </figure>

        <figure>
          <a href="{{ BASE_PATH }}/atom.xml"><img src="{{ BASE_PATH }}/images/feed-icon-32.png" alt="ATOM" width="32" height="32"></a>
          <figcaption>
            <a href="{{ BASE_PATH }}/atom.xml">ATOM</a>
          </figcaption>
        </figure>
        
        <br><br>
        <figure>
          <a href="{{ HOME_PATH }}"><img src="{{ BASE_PATH }}/images/home-icon-40x32.png" alt="ATOM" width="40" height="32"></a>
          <figcaption>
            <a href="{{ HOME_PATH }}">Jpylyzer home</a>
          </figcaption>
        </figure> 
        
		</div>
	  </div>
	
	  <div class="span6">
	    <!-- Column center (main content) -->
        <div class="content">
          {{ content }}
        </div>	
	  </div>
	  	  
	  <div class="span3"> 
              
	    <div class="sidebar">
	      <!-- Column right -->
	      <h2>Binaries <small>(version {{ site.binVersion }})</small></h2>
          
          <h3>Windows</h3>

          <figure>       
            <a href="{{ site.win64Pre }}/{{ site.binVersion }}/jpylyzer_{{ site.binVersion }}{{ site.win64Suf }}"><img src="{{ BASE_PATH }}/images/Windows-icon-64.png" alt="Windows 64 bit binaries"  width="64" height="64"></a>
            <figcaption>
		      <a href="{{ site.win64Pre }}/{{ site.binVersion }}/jpylyzer_{{ site.binVersion }}{{ site.win64Suf }}">64 bit</a>
		    </figcaption>
          </figure>
          
          <figure>       
            <a href="{{ site.win32Pre }}/{{ site.binVersion }}/jpylyzer_{{ site.binVersion }}{{ site.win32Suf }}"><img src="{{ BASE_PATH }}/images/Windows-icon-64.png" alt="Windows 32 bit binaries"  width="64" height="64"></a>
            <figcaption>
		      <a href="{{ site.win32Pre }}/{{ site.binVersion }}/jpylyzer_{{ site.binVersion }}{{ site.win32Suf }}">32 bit</a>
		    </figcaption>
          </figure>
         
          <br>
		  
          <h3>Debian</h3>
          <figure>
		    <a href="{{ site.amd64Pre }}/{{ site.binVersion }}/jpylyzer_{{ site.binVersion }}{{ site.amd64Suf }}"><img src="{{ BASE_PATH }}/images/linux-icon-64.png" alt="Amd64 Debian"  width="55" height="64"></a>
            <figcaption>
		      <a href="{{ site.amd64Pre }}/{{ site.binVersion }}/jpylyzer_{{ site.binVersion }}{{ site.amd64Suf }}">Amd 64</a>
		    </figcaption>
          </figure>
                    
          <figure>
		    <a href="{{ site.i386Pre }}/{{ site.binVersion }}/jpylyzer_{{ site.binVersion }}{{ site.i386Suf }}"><img src="{{ BASE_PATH }}/images/linux-icon-64.png" alt="i386 Debian"  width="55" height="64"></a>
		    <figcaption>
              <a href="{{ site.i386Pre }}/{{ site.binVersion }}/jpylyzer_{{ site.binVersion }}{{ site.i386Suf }}">i386</a>
		    </figcaption>
          </figure>
         </div>
         
        <div class="sidebar">
	      <h2>User Manual</h2>
          
          <figure>
		    <a href="{{ BASE_PATH }}/userManual.html"><img src="{{ BASE_PATH }}/images/book_icon.png" alt="Manual"  width="64" height="48"></a>
            <figcaption>
		      <a href="{{ BASE_PATH }}/userManual.html">Online</a>
            </figcaption>
          </figure>
                    
          <figure>
		    <a href="{{ site.userManualURL}}"><img src="{{ BASE_PATH }}/images/HTML5_Logo_64.png" alt="HTML"  width="64" height="64"></a>
            <figcaption>
              <a href="{{ BASE_PATH }}/{{ site.userManualName }}" download>Download</a>
            </figcaption>
          </figure>
          
	    </div>

        <div class="sidebar">
		  <h2>Troubleshooting</h2>
          
          <figure>
            <a href="{{ site.issuesURL}}"><img src="{{ BASE_PATH }}/images/issue-64.png" alt="issue tracker"  width="64" height="64"></a>
		    <figcaption>
              <a href="{{ site.issuesURL}}">Issue tracker</a>
		    </figcaption>
          </figure>   

	    </div>
        
        <div class="sidebar">
		  <h2>Developer resources</h2>
          
          <figure>
		    <a href="{{ site.gitURL}}"><img src="{{ BASE_PATH }}/images/Octocat-64.png" alt="git repo"  width="64" height="53"></a>
		    <figcaption>
              <a href="{{ site.gitURL}}">Source code</a>
		    </figcaption>
          </figure>

          <figure>
		    <a href="{{ site.testImagesURL}}"><img src="{{ BASE_PATH }}/images/testcard-64.png" alt="test images"  width="64" height="64"></a>
		    <figcaption>
              <a href="{{ site.testImagesURL}}">Test files</a>
            </figcaption>
          </figure>          

	    </div>
        
        <div class="sidebar">
		  <h2>Additional resources</h2>
          
          <figure>
		    <a href="{{ site.blogsOPF}}"><img src="{{ BASE_PATH }}/images/opf-logo-notext-64x56.png" alt="OPF"  width="64" height="56"></a>
            <figcaption>
		      <a href="{{ site.blogsOPF}}">Blog posts at OPF</a>
            </figcaption>
          </figure>
         
	    </div>
        
      </div>	  
	</div>
	
	<footer>
	<hr>
	<div class="row-fluid">
      <div class="span2">
	    <!-- Column left (empty) -->
	  </div>
	  
	  <div class="span6">
	  <!-- Column center (footer text) -->
	    <p><small>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
        with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
        and <a href="https://getbootstrap.com/" target="_blank">Twitter Bootstrap</a>; book icon adapted from <a href="https://commons.wikimedia.org/wiki/File:Black_book_icon.svg" target="_blank">Waldir</a></small></p>
      </div>
	</div>
    </footer>
  </div>

    {% include JB/analytics %}
  </body>
</html>
